<div>  
  <span>Current Number is {{value1}}</span>      
  <br /><br />  
 Display Value in Input Controls : <input [value]="value1" />   
 <br /><br /> 
  <span>Current Number is {{value1 | currency}}</span>  
  <br /><br />  
  <span>Current Number is {{dt1}}</span>  
  <br /><br />  
  <span>Current Number is {{dt1 | date}}</span>  
  <br /><br />  
  <span>Status is {{status}}</span>  
  <br /><br />  
  <span>{{status ? "This is correct status" :"This is false status"}}</span>  
  <br /><br />  
  <span>{{returnString()}}</span>  
  <br><br />
  <input type="button" value="Click" class="btn-block" (click)="showAlert()" />  
  <br /><br /> 
  <br /><br />  
  <input type="button" value="Mouse Enter" class="btn-block" (mouseenter)="showAlert()" />  
  </div> 
  <div>  
    <div>  
        <span>Enter Your Name </span>  
        <input [(ngModel)]="val" type="text"/>  
    </div>  
    <div>  
        <span>Your Name :- </span>  
        <span>{{val}}</span>  
    </div> 
</div>  
<div>  
    <div>  
        <message-info [message]="'Demostration of Input Property of a Component'" [alert-pop]="value" (onSignup)="onSignup($event)"></message-info>      
    </div>   
</div> 
<child></child>   